<nav class="top-menu">
  <!-- link to illustration -->
  <section class="top-menu-item">
    <a href="#show-article-title"><%= image_tag('icon_menu_illustration.svg') %></a>
    <a href="#show-article-title">Illustration</a>
  </section>
  <!-- link to article content -->
  <section class="top-menu-item">
    <a href="#show-article-content"><%= image_tag('icon_menu_content.svg') %></a>
    <a href="#show-article-content">Article</a>
  </section>
  <!-- link to share article -->
  <section class="top-menu-item">
    <a href="#show-article-share"><%= image_tag('icon_menu_share.svg') %></a>
    <a href="#show-article-share">Partagez !</a>
  </section>
  <!-- link to read more section -->
  <section class="top-menu-item">
    <a href="#show-article-readmore"><%= image_tag('icon_menu_plus.svg') %></a>
    <a href="#show-article-readmore">Lire aussi</a>
  </section>
</nav>
