<nav class="top-menu">
  <!-- link to entreprise proposition -->
  <section class="top-menu-item">
    <a href="#show-entreprise-intro"><%= image_tag('icon_menu_value-proposition.svg') %></a>
    <a href="#show-entreprise-intro">Objectif</a>
  </section>
  <!-- link to entreprise presentation -->
  <section class="top-menu-item">
    <a href="#show-entreprise-content"><%= image_tag('icon_menu_presentation.svg') %></a>
    <a href="#show-entreprise-content">Présentation</a>
  </section>
  <!-- link to share entreprise -->
  <section class="top-menu-item">
    <a href="#show-entreprise-share"><%= image_tag('icon_menu_share.svg') %></a>
    <a href="#show-entreprise-share">Partagez !</a>
  </section>
  <!-- link to entreprise factsheet -->
  <section class="top-menu-item">
    <a href="#show-entreprise-facsheet"><%= image_tag('icon_menu_info.svg') %></a>
    <a href="#show-entreprise-facsheet">Factsheet</a>
  </section>
</nav>
