<!-- add spacer for navbar -->
<!-- <div class="navbar-spacer"></div> -->

<!-- create card banner-like for the positive impact project -->
<figure class="card-entreprise-index-positive-impact-project">
  <!-- positive impac title -->
  <section class="card-entreprise-index-positive-impact-project-title">
    Définissons un "Positive Impact Project" !
  </section>
  <!-- positive impact caption -->
  <section class="card-entreprise-index-positive-impact-project-caption">
    Quare hoc quidem praeceptum, cuiuscumque est, ad tollendam amicitiam valet; illud potius praecipiendum fuit, ut eam diligentiam adhiberemus in amicitiis comparandis, ut ne quando amare inciperemus eum, quem aliquando odisse possemus. Quin etiam si minus felices in diligendo fuissemus, ferendum id Scipio potius quam inimicitiarum tempus cogitandum putabat. Quare hoc quidem praeceptum, cuiuscumque est, ad tollendam amicitiam valet; illud potius praecipiendum fuit, ut eam diligentiam adhiberemus in amicitiis comparandis, ut ne quando amare inciperemus eum, quem aliquando odisse possemus. Quin etiam si minus felices in diligendo fuissemus, ferendum id Scipio potius quam inimicitiarum tempus cogitandum putabat
    <%= link_to " -> Lire", positiveimpact_path %>
  </section>
  <!-- positive impact link to landing page -->
  <button class="button-entreprise">
    <a href="http://www.google.com" target="_blank">En savoir plus</a>
  </button>
</figure>

<!-- main section to display all entreprises cards -->
<main class="container-main">
</main>
