// definition of fonts for site content
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,600|Tajawal&display=swap');
$body-font: "Tajawal", "sans-serif";
$headers-font: "Quicksand", "sans-serif";

// definition of font for logo
@import url('https://fonts.googleapis.com/css?family=Tangerine:400,700&display=swap');
$logo-font: "Tangerine", cursive;

//definition of standard font styles
html {
  font-size: 100%;
  scroll-behavior: smooth;
}

// body {
//   font-family: $body-font;
//   font-size: .85em;
// }

// p {
//   font-family: $body-font;
//   font-size: 1em;
//   color: $dark-blue;
// }


// h1 {
//   font-family: $headers-font;
//   font-size: 1.4em;
//   color: $dark-blue;
// }

// h2 {
//   font-family: $headers-font;
//   font-size: 1.3em !important;
//   color: $dark-blue;
// }
