<nav class="top-menu top-menu-admin">
  <!-- link to metadata -->
  <section class="top-menu-item">
    <a href="#form-metadata"><%= image_tag('icon_menu_metadata.svg') %></a>
    <a href="#form-metadata">Metadata</a>
  </section>
  <!-- link to french section -->
  <section class="top-menu-item">
    <a href="#form-french"><%= image_tag('icon_menu_france.svg') %></a>
    <a href="#form-french">Français</a>
  </section>
  <!-- link to english section -->
  <section class="top-menu-item">
    <a href="#form-english"><%= image_tag('icon_menu_english.svg') %></a>
    <a href="#form-english">Anglais</a>
  </section>
</nav>
