<!-- top menu -->
<%= render 'menu-new-edit' %>

<!-- add spacer for menu -->
<div class="top-menu-spacer"></div>

<!-- form to update an article -->
<main class="container-form">
  <h1><i class="fas fa-user-lock"></i> Modifier un article</h1>
  <%= render 'form', article: @article %>
</main>
