<!-- customization of the head section -->
<% content_for :head do %>
  <!-- title and name -->
  <title>Blog | Arnaud Rioche | Admin | Edit Article <%= @article.title_fr %></title>
<% end %>

<!-- top menu -->
<%= render 'menu-new-edit' %>

<!-- add spacer for menu -->
<div class="top-menu-spacer"></div>

<!-- form to update an article -->
<main class="container-form">
  <h1><i class="fas fa-user-lock"></i> <%= t('articles.form.update_article') %></h1>
  <%= render 'form', article: @article %>
</main>
