<!-- partial for modal justifying legal skills -->
<article class="modal-body">

  <!-- experiences -->
  <section class="modal-body-section">
    <div class="modal-body-section-title">
      <%= t('profile.competencies.modals.experience') %>
    </div>
    <div class="modal-body-section-content">
      <i class="fas fa-angle-double-right"></i>
      <div class="modal-custom-text">
        fdnslfndslkfndslnfdsklnflkdsnflds
        fdsnflsdnfldsf
        sdnfldsnfsld
        fsdnlfdnslf
        sddfndslfnlds
      </div>
    </div>
    <div class="modal-body-section-content">
      <i class="fas fa-angle-double-right"></i>
      <div class="modal-custom-text">
        fdnslfndslkfndslnfdsklnflkdsnflds
        fdsnflsdnfldsf
        sdnfldsnfsld
        fsdnlfdnslf
        sddfndslfnlds
      </div>
    </div>
  </section>

  <!-- education -->
  <section class="modal-body-section">
    <div class="modal-body-section-title">
      <%= t('profile.competencies.modals.education') %>
    </div>
    <div class="modal-body-section-content">
      <i class="fas fa-graduation-cap"></i>
      <div class="modal-custom-text">
        fdnslfndslkfndslnfdsklnflkdsnflds
        fdsnflsdnfldsf
        sdnfldsnfsld
        fsdnlfdnslf
        sddfndslfnlds
      </div>
    </div>
    <div class="modal-body-section-content">
      <i class="fas fa-stamp"></i>
      <div class="modal-custom-text">
        fdnslfndslkfndslnfdsklnflkdsnflds
        fdsnflsdnfldsf
        sdnfldsnfsld
        fsdnlfdnslf
        sddfndslfnlds
      </div>
    </div>
  </section>
</article>
