<!-- partial for the skill section of the profile -->
<article class="card-profile-experience">

 <!--  entrepreneur -->
  <section class="card-profile-experience-job">
    <div class="card-profile-experience-job-title">
      Entrepreneur
    </div>
    <div class="card-profile-experience-job-company-date">
      Projet 'Postive Impact' | Depuis 2019
    </div>
    <div class="card-profile-experience-job-miscinfo">
      <i class="fas fa-angle-right"></i>
      <div class="card-profile-experience-job-miscinfo-item-text">
          Blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla
      </div>
    </div>
  </section>

  <!--  head of technology @ axa im -->
  <section class="card-profile-experience-job">
    <div class="card-profile-experience-job-title">
      Head of Technology for Finance, Legal, H.R. and Procurement
    </div>
    <div class="card-profile-experience-job-company-date">
      AXA Investment Managers | 2015-2019
    </div>
    <div class="card-profile-experience-job-miscinfo">
      <i class="fas fa-angle-right"></i>
      <div class="card-profile-experience-job-miscinfo-item-text">
        Blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla
      </div>
    </div>
  </section>

  <!--  head of business line @ alfi -->
  <section class="card-profile-experience-job">
    <div class="card-profile-experience-job-title">
      Senior Manager | Head of Business Line - Operational & Commercial Efficiency
    </div>
    <div class="card-profile-experience-job-company-date">
      ALFI Consultants | 2009-2015
    </div>
    <div class="card-profile-experience-job-miscinfo">
      <i class="fas fa-angle-right"></i>
      <div class="card-profile-experience-job-miscinfo-item-text">
        Blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla
      </div>
    </div>
    <div class="card-profile-experience-job-miscinfo">
      <i class="fas fa-angle-right"></i>
      <div class="card-profile-experience-job-miscinfo-item-text">
        Blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla
      </div>
    </div>
    <div class="card-profile-experience-job-miscinfo">
      <i class="fas fa-angle-right"></i>
      <div class="card-profile-experience-job-miscinfo-item-text">
        AXA Investment Managers (2012-2015)
      </div>
    </div>
    <div class="card-profile-experience-job-miscinfo">
      <i class="fas fa-angle-right"></i>
      <div class="card-profile-experience-job-miscinfo-item-text">
        Caisse Nationale du Personnel Navigant (2012)
      </div>
    </div>
    <div class="card-profile-experience-job-miscinfo">
      <i class="fas fa-angle-right"></i>
      <div class="card-profile-experience-job-miscinfo-item-text">
        BNP Paribas Securities Services (2011-2012)
      </div>
    </div>
    <div class="card-profile-experience-job-miscinfo">
      <i class="fas fa-angle-right"></i>
      <div class="card-profile-experience-job-miscinfo-item-text">
        Natixis Asset Management (2009-2011)
      </div>
    </div>
    <div class="card-profile-experience-job-miscinfo">
      <i class="fas fa-angle-right"></i>
      <div class="card-profile-experience-job-miscinfo-item-text">
        HSBC Global Asset Management (2009)
      </div>
    </div>
  </section>

  <!--  strategic planning manager @ hsbc -->
  <section class="card-profile-experience-job">
    <div class="card-profile-experience-job-title">
      Strategic Planning Manager
    </div>
    <div class="card-profile-experience-job-company-date">
      HSBC Global Asset Management Europe | 2006-2009
    </div>
    <div class="card-profile-experience-job-miscinfo">
      <i class="fas fa-angle-right"></i>
      <div class="card-profile-experience-job-miscinfo-item-text">
        Blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla
      </div>
    </div>
  </section>

  <!--  six sigma bb @ hsbc -->
  <section class="card-profile-experience-job">
    <div class="card-profile-experience-job-title">
      Six Sigma Black Belt Project Manager | Process Excellence
    </div>
    <div class="card-profile-experience-job-company-date">
      HSBC France | 2004-2006
    </div>
    <div class="card-profile-experience-job-miscinfo">
      <i class="fas fa-angle-right"></i>
      <div class="card-profile-experience-job-miscinfo-item-text">
        Blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla
      </div>
    </div>
  </section>

  <!--  front-to-back project director @ hsbc -->
  <section class="card-profile-experience-job">
    <div class="card-profile-experience-job-title">
      Directeur de projet Front-to-Back
    </div>
    <div class="card-profile-experience-job-company-date">
      HSBC Real Estate Investment Managers | 2003
    </div>
    <div class="card-profile-experience-job-miscinfo">
      <i class="fas fa-angle-right"></i>
      <div class="card-profile-experience-job-miscinfo-item-text">
        Blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla
      </div>
    </div>
  </section>

  <!--  front-to-back project director @ hsbc -->
  <section class="card-profile-experience-job">
    <div class="card-profile-experience-job-title">
      Entre 2001 et 2003, différentes positions de Chef de Projet (BNP Paribas, Société Générale, State Street Global Advisors)
    </div>
  </section>

</article>
