<!-- partial for the skill section of the profile -->
<article class="card-profile-education">

  <!-- edhec gmap -->
  <section class="card-profile-education-degree">
    <div class="card-profile-education-degree-summary-name">
      Executive Certificate | General Management Acceleration Program
    </div>
    <div class="card-profile-education-degree-summary-school">
      EDHEC Business School | 2019-2020
    </div>
    <div class="card-profile-education-degree-summary-description">
      Programme d'Executive Education intensif de formation accélérée à la Direction Générale d'entreprise à destination des cadres dirigeants et des chefs d’entreprise
    </div>
    <a href="http://www.edhec.edu" target="_blank"><i class="far fa-hand-point-right"></i> www.edhec.edu</a>
  </section>

  <!-- le wagon full-stack dev -->
  <section class="card-profile-education-degree">
    <div class="card-profile-education-degree-summary-name">
      Certificat Professionnel | Full-stack Web Developer
    </div>
    <div class="card-profile-education-degree-summary-school">
      Le Wagon Paris, Batch#250 | 2019
    </div>
    <div class="card-profile-education-degree-summary-description">
      Coding bootcamp intensif de 9 semaines, délivrant un Certificat Professionnel homologué niveau 2 (équivalent Bac +3/4). Stack technique enseignée: Ruby on Rails, HTML, CSS, Bootstrap, JavaScript ES6 SQL, Git, GitHub, Heroku
    </div>
    <a href="http://www.lewagon.com" target="_blank"><i class="far fa-hand-point-right"></i> www.lewagon.com</a>
  </section>

  <!-- essca entrepreneur -->
  <section class="card-profile-education-degree">
    <div class="card-profile-education-degree-summary-name">
      Certificat Professionnel | Capacité à l'Entreprenariat
    </div>
    <div class="card-profile-education-degree-summary-school">
      ESSCA School of Management | 2000-2001
    </div>
    <div class="card-profile-education-degree-summary-description">
      Première école de commerce française post-bac accréditée à l’international pour l’excellence de son programme, l’ESSCA délivre un diplôme Bac + 5 visé par le Ministre de l’Education nationale et revêtu du grade de Master. Accréditations AASCB, EQUIS, AMBA
    </div>
    <a href="http://www.essca.fr" target="_blank"><i class="far fa-hand-point-right"></i> www.essca.fr</a>
  </section>

   <!-- essca pge -->
  <section class="card-profile-education-degree">
    <div class="card-profile-education-degree-summary-name">
      Master en Management | Majeure Capital Markets
    </div>
    <div class="card-profile-education-degree-summary-school">
      ESSCA School of Management | 1997-2001
    </div>
    <div class="card-profile-education-degree-summary-description">
      Première école de commerce française post-bac accréditée à l’international pour l’excellence de son programme, l’ESSCA délivre un diplôme Bac + 5 visé par le Ministre de l’Education nationale et revêtu du grade de Master. Accréditations AASCB, EQUIS, AMBA
    </div>
    <a href="http://www.essca.fr" target="_blank"><i class="far fa-hand-point-right"></i> www.essca.fr</a>
  </section>

</article>
