<!-- top menu -->
<%= render 'menu-profile' %>

<!-- add spacer for menu -->
<div class="top-menu-spacer"></div>

<!-- profile -->
<main class="container-main">
  <!-- summary section -->
  <section class="card-profile" id="profile-summary">
    <%= render 'profile-summary' %>
  </section>
</main>

<!-- footer -->
<%= render 'shared/footer' %>
