<!-- customization of the head section -->
<% content_for :head do %>
  <!-- title and name -->
  <title>Blog | Arnaud Rioche | Admin | Create Tag</title>
<% end %>

<!-- top menu -->
<%= render 'admins/menu-admin' %>

<!-- add spacer for menu -->
<div class="top-menu-spacer"></div>

<!-- form to create a tag -->
<main class="container-form">
  <h1>Admin | Créer un tag</h1>
  <%= render 'form', tag: @tag %>
</main>
