<!-- top menu -->
<%= render 'admins/menu-admin' %>

<!-- add spacer for menu -->
<div class="top-menu-spacer"></div>

<!-- form to update a tag -->
<main class="container-form">
  <h1>Admin | Modifier un tag</h1>
  <%= render 'form', tag: @tag %>
</main>
