.card-profile-summary {
  padding-bottom: 4rem;
  .card-profile-summary-header {
    padding-top: 2em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    img {
      width: 30vw;
      height: auto;
      border-radius: 1%;
      box-shadow: 0rem .25rem .5rem 0rem rgba(23, 23, 23, 0.2);
    }
    .card-profile-summary-header-title {
      font-family: $headers-font;
      font-size: 1.6rem;
      color: $dark-blue;
      padding-right: 4rem;
      padding-left: 4rem;
    }
  }
  .card-profile-summary-body {
    padding-top: 2rem;
    .card-profile-summary-body-text {
      font-family: $body-font;
      font-size: 1.2rem;
      color: $dark-blue;
      padding-bottom: 1rem;
    }
  }
}

.card-profile-skills {
  padding-bottom: 4rem;
  .card-profile-skills-title {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    font-family: $headers-font;
    font-size: 1.3rem;
    color: $dark-blue;
  }
  .card-profile-skills-skillset {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 4rem;
    border-bottom: solid 1px $light-grey;
    .card-profile-skills-skillset-oneskill {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      margin-right: 3vw;
      width: 12vh;
      height: 12vh;
      border-radius: 2%;
      img {
        width: 5vh;
        height: 5vh;
      }
      figcaption {
        font-family: $body-font;
        font-size: 1rem;
        color: $dark-blue;
        text-align: center;
      }
      &:hover {
        background-color: $light-grey;
        cursor: pointer;
      }
    }
  }
}


// .top-menu-item {
//     display: flex;
//     flex-direction: column;
//     justify-content: flex-start;
//     align-items: center;
//     margin-right: 3vw;
//     a {
//       text-decoration: none;
//       font-size: .8rem;
//       color: $dark-blue;
//       img {
//         width: 4vh;
//         height: 4vh;
//       }
//     }
//   }
