.card-profile-summary {
  padding-bottom: 4rem;
  .card-profile-summary-header {
    padding-top: 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    img {
      width: 20vw;
      min-width: 235px;
      height: auto;
      border-radius: 1%;
      box-shadow: 0rem .25rem .5rem 0rem rgba(23, 23, 23, 0.2);
      margin-bottom: 1rem;
      margin-right: 1rem;
    }
    .card-profile-summary-header-title {
      width: 65vw;
      min-width: 320px;
      font-family: $headers-font;
      font-size: 1.4rem;
      color: $dark-blue;
    }
  }
  .card-profile-summary-body {
    padding-top: 2rem;
    .card-profile-summary-body-text {
      font-family: $body-font;
      font-size: 1.1rem;
      color: $dark-blue;
      padding-bottom: 1rem;
    }
  }
}

.card-profile-skills {
  padding-bottom: 4rem;
  .card-profile-skills-title {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    font-family: $headers-font;
    font-size: 1.3rem;
    color: $dark-blue;
  }
  .card-profile-skills-skillset {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 4rem;
    border-bottom: solid 1px $light-grey;
    .card-profile-skills-skillset-oneskill {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      margin-right: 3vw;
      width: 12vh;
      min-width: 90px;
      height: 12vh;
      min-height: 90px;
      border-radius: 2%;
      img {
        width: 5vh;
        min-width: 34px;
        height: 5vh;
        min-height: 34px;
      }
      figcaption {
        font-family: $body-font;
        font-size: 1rem;
        color: $dark-blue;
        text-align: center;
      }
      &:hover {
        background-color: $light-grey;
        cursor: pointer;
      }
    }
  }
}

.card-profile-experience {
  padding-bottom: 2rem;
  border-bottom: solid 1px $light-grey;
  margin-bottom: 4rem;
  .card-profile-experience-job {
    .card-profile-experience-job-title {
      padding-top: 2rem;
      padding-left: 2rem;
      font-family: $headers-font;
      font-size: 1.3rem;
      color: $dark-blue;
    }
    .card-profile-experience-job-company-date {
      padding-left: 2rem;
      padding-bottom: 1rem;
      font-family: $headers-font;
      font-size: 1rem;
      color: $dark-blue;
    }
    .card-profile-experience-job-miscinfo {
      padding-left: 6rem;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      font-family: $body-font;
      font-size: 1rem;
      color: $dark-blue;
      .card-profile-experience-job-miscinfo-item-text {
        padding-left: 1rem;
        padding-right: 1rem;
      }
    }
  }
}

.card-profile-education {
  .card-profile-education-degree {
    padding-top: 2rem;
    padding-left: 2rem;
    .card-profile-education-degree-summary-name {
      font-family: $headers-font;
      font-size: 1.3rem;
      color: $dark-blue;
    }
    .card-profile-education-degree-summary-school{
      font-family: $headers-font;
      font-size: 1rem;
      color: $dark-blue;
    }
    .card-profile-education-degree-summary-description  {
      padding-top: 1rem;
      padding-left: 2rem;
      font-family: $body-font;
      font-size: 1rem;
      color: $dark-blue;
    }
    a {
      padding-left: 2rem;
      font-family: $body-font;
      font-size: 1rem;
      color: $dark-blue;
      text-decoration: none;
      &:hover {
        color: $light-grey;
      }
    }
  }
}
