.card-article-index {
  width: 100%;
  min-height: 30vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin: 0;
  border-bottom: solid 1px $light-grey;
  img {
    width: 20%;
    height: auto;
    border-radius: 1%;
    box-shadow: 0rem .25rem .5rem 0rem rgba(23, 23, 23, 0.2);
  }
  .card-article-index-summary {
    width: 70%;
    padding-right: 1rem;
    padding-left: 1rem;
    .card-article-index-header {
      font-family: $headers-font;
      font-size: .8rem;
      color: $dark-blue;
    }
    h2 {
      font-family: $headers-font;
      font-size: 1.3rem;
      color: $dark-blue;
    }
    p {
      font-family: $body-font;
      font-size: 1rem;
      color: $dark-blue;
      margin-top: 1.3rem;
    }
    .card-article-index-admin {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      a {
        text-decoration: none;
        font-family: $headers-font;
        font-size: 1rem;
        color: $light-red;
        margin-right: 1rem;
        &:hover {
          color: $light-grey;
        }
      }
    }
  }
}
