.card-article-show-title {
  margin: 0;
  padding: 1rem;
  h1 {
    font-family: $headers-font;
    font-size: 2rem;
    color: $dark-blue;
    margin-bottom: 2rem;
    margin-right: 1rem;
  }
  p {
    font-family: $body-font;
    font-size: 1rem;
    color: $dark-blue;
  }
  img {
    width: 100%;
    height: auto;
    border-radius: .5%;
    box-shadow: 0rem .25rem .5rem 0rem rgba(23, 23, 23, 0.2);
  }
  .card-article-show-title-tag {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin-bottom: 2rem;
    img {
      width: 3vh;
      min-width: 20px;
      height: 3vh;
      min-height: 20px;
      border-radius: none;
      box-shadow: none;
    }
    h2 {
      font-family: $headers-font;
      font-size: 1.3rem;
      color: $medium-blue;
      padding-left: 1rem;
      margin: 0;
    }
  }
}

.card-article-show-content {
  margin-top: 2rem;
  padding: 1rem;
  .trix-content {
  font-family: $body-font;
  font-size: 1rem;
  color: $dark-blue;
  }
}

.card-article-show-share {
  width: 100%;
  height: auto;
  margin-top: 2rem;
  background-color: $light-grey;
  border-radius: 1%;
  padding: 2rem;
  h2 {
    font-family: $headers-font;
    font-size: 1.3rem;
    color: $dark-blue;
    margin-bottom: 1rem;
  }
  .card-article-show-share-medias {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    i {
      font-size: 4rem;
      color: $dark-blue;
      margin-right: 2rem;
      &:hover {
        color: $medium-blue;
      }
    }
    a {
      text-decoration: none;
    }
  }
}

.card-article-show-readmore {
  margin-top: 2rem;
}



