.top-menu {
  width: 100vw;
  height: 100px;
  position: fixed;
  top: 0px;
  padding-top: 40px;
  z-index: 500;
  background-color: $light-grey;
  opacity: .9;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-right: 1rem;
  padding-left: 1rem;
  .top-menu-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-right: 3vw;
    a {
      text-decoration: none;
      font-size: .8rem;
      color: $dark-blue;
      img {
        width: 28px;
        height: 28px;
      }
    }
  }
}

.top-menu-admin {
  background-color: $light-red;
}

.top-menu-spacer {
  margin-top: 115px;
  padding: 0;
}

.top-menu-banner-spacer {
  margin-top: 100px;
  padding: 0;
}
