<p><%= t('admin.devise_views.mailer.welcome') %> <%= @email %>!</p>

<p><%= t('admin.devise_views.mailer.confirm_account_email') %></p>

<p><%= link_to t('admin.devise_views.mailer.confirm'), confirmation_url(@resource, confirmation_token: @token) %></p>
